body {
  min-height: 100vh;
  min-height: 100dvh;
}

.body-flex {
  min-height: 100vh;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
}

.main-header {
  text-align: center;
  padding: 2rem;
}

.shelf {
  width: 80%;
  max-width: 1000px;

  margin: 0 auto;
}

.book-display {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(11rem, 1fr));
  gap: 1em;
}

form,
.book-info {
  flex-direction: column;
} 

.flex-row {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.submit-buttons button {
  flex-grow: 1;
}

.read-radio {
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.bookitem {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bookitem-buttons {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.info-div {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 1em;
  margin-top: 1em;
}

.hidden {
  display: none;
}

.open-modal {
  margin-bottom: 1rem;
}

footer {
  text-align: center;
  margin: 1rem auto;
}