body {
  min-height: 100vh;
  min-height: 100dvh;
}

.main-header {
  text-align: center;
  margin-top: 1em;
}

.shelf {
  width: 80%;
  max-width: 1000px;

  margin: 0 auto;
}

.book-display {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(8.5rem, 1fr));
  gap: 1em;
}

form,
.book-info {
  flex-direction: column;
}

.flex-row {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.submit-buttons button {
  flex-grow: 1;
}

.read-radio {
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.bookitem {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bookitem-buttons {
  display: flex;
}

.info-dialog {
  margin-left: 1rem;
}