@use '_variables.scss';

@keyframes modal {
  0% {
    top: -10rem;
  }

  100% {
    top: 0rem;
  }
}

body {
  background: var(--color-body-bg);
  font-family: 'Josefin Sans';
}

h1, h2, h3,
button {
  font-family: 'Wellfleet';
}

.main-header {
  color: var(--color-shelf);

  &::after {
    content: ' <';
  }
  &::before {
    content: '> ';
  }
}

.shelf {
  background: var(--color-shelf-bg);
  color: var(--color-shelf);
  border: 1rem solid var(--color-shelf);
  border-radius: 2rem;
}


dialog {
  position: relative;

  &[open=''] {
    animation: modal ease-out .4s 1;
  }
}



