@use '_variables.scss' as *;

@keyframes modal {
  0% {
    top: -10rem;
  }

  100% {
    top: 0rem;
  }
}

body {
  background: var(--color-body-bg);
  font-family: 'Josefin Sans';
}

h1, h2, h3,
button {
  font-family: 'Wellfleet';
}

button {
  padding: .5em 2em;

  background: var(--color-button-bg);
  color: var(--color-button);
  border: 5px solid var(--color-button);
  border-radius: 1em;
  transition: background .1s, color .1s, border-color .1s;

  &:hover {
    cursor: pointer;
    background: var(--color-button);
    color: var(--color-button-bg);
    border-color: var(--color-button-background);
  }
  &:active {
    border-color: var(--color-button);
  }
}

.main-header {
  color: var(--color-shelf);

  &::after {
    content: ' <';
  }
  &::before {
    content: '> ';
  }
}

.shelf {
  background: var(--color-shelf-bg);
  color: var(--color-shelf);
  border: 1rem solid var(--color-shelf);
  border-radius: 2rem;
  padding: min(5vw, 2rem);
}

fieldset {
  border-color: var(--color-button);
  columns: var(--color-button-bg);
}

dialog {
  position: relative;

  background: var(--color-modal-bg);
  color: var(--color-button);

  &[open=''] {
    animation: modal ease-out .4s 1;
  }
  
  &::backdrop {
    background: var(--color-modal-backdrop);
    opacity: .5;
  }
}

input {
  display: block;
  font-family: 'Josefin Sans';
  font-size: 1rem;
  
  border: none;
  border-radius: 1em;

  padding: .5em 1em;
  background-color: var(--color-button);
  color: var(--color-button-bg);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.book-display {
  background-color: var(--color-display-bg);
  padding: 1rem;

  > div {
    background-color: var(--color-book-bg);
    padding: 1em;
  }
}