:root {
  --color-body-bg: linear-gradient(0deg, #0b121b, #000);
  --color-shelf-bg: linear-gradient(0deg, #281385, #3a43ca);
  --color-display-bg:rgb(19, 23, 24);
  --color-book-bg:rgb(11, 12, 17);
  --color-modal-backdrop: linear-gradient(33deg, #180d47, #4a55e2);
  --color-modal-bg: linear-gradient(#c0b12d, #e04f4f);
  --color-button-bg: #d6a623;

  
  --color-button: #201303;
  --color-button-delete: #a1131e;
  --color-shelf: #91e5ad;
  --color-main-header: #ddffb0;
}

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Wellfleet&display=swap');