:root {
  --color-body-bg: #0f0f0f;
  --color-shelf-bg: linear-gradient(0deg, #281385, #3a43ca);

  --color-shelf: #91e5ad;
}

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Wellfleet&display=swap');